
    <%- include('../layouts/adminheader') %> 
    <div class="container">
    <h2 class="page-title">Pages</h2>
    <a href="/admin/categories/add_category" class="btn btn-primary">Add a new category</a>
    <br><br>
    <table class="table table-striped">
       <thead>
           <tr>
               <th>Title</th>
               <th>Edit</th>
               <th>Delete</th>
           </tr>
       </thead>
       <tbody>
           <% categories.forEach(function(category){ %> 
            <tr>
                <td><%= category.title %> </td>
                <td><a href="/admin/categories/edit_category/<%= category._id %>">Edit</a></td> 
                <td><a class="" href="/admin/categories/delete_category/<%= category._id %>">Delete</a></td>
                
            </tr>
            <% }); %> 
       </tbody>
    </table>
</div>
    <%- include('../layouts/adminfooter') %> 
