<%- include('../layouts/adminheader') %> 
<div class="container">
<h2 class="product-title">Products</h2>
<a href="/admin/products/add_product" class="btn btn-primary">Add a new product</a>
<br><br>
   <table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Product Image</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product) { %> 
            <tr>
                <td><%= product.title %></td>
                <td>$<%= parseFloat(product.price).toFixed(2) %></td>
                <td>
                    <% if(product.image=="") {%> 
                        <img src="/images/noimg.jpg" alt="" width="200" height="200">
                    <% } else { %> 
                        <img src="/product_image/<%= product._id %>/<%= product.image %>" width="200" height="200">
                    <% } %> 
                </td>
                <td><%= product.title %></td>
                <td><a href="/admin/products/edit_product/<%= product._id %>">Edit</a></td>
                <td><a href="/admin/products/delete_product/<%= product._id %>">Delete</a></td>
            </tr>
            <% }); %> 
    </tbody>
   </table>
  
   </div>
<%- include('../layouts/adminfooter') %> 